.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    
}


 body{  
   background-color: black; 
  color: #FFFFFF;
 }
/* shared style */

.display-flex{
      display: flex;
}

.bg-color{

  background-color: rgba(17, 17, 17, 1.00);
  width: 1440;
  height: 715px;
}

/* nave bar related */

.nav-bar {
  justify-content: space-between;
  align-items: center;
 margin-left: 190px;
 margin-right: 150px;

}
.nav-list{
  border: 0.5px solid rgba(255, 255, 255, 0.10);
  border-radius: 39px;
 padding: 12px 2px 12px 1px; */
  /* padding-right: 0; */

 
}

.title{
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
  color: #E6533C;
}
.nave-item{
  list-style: none;
   margin-right: 27px;
 
}

.nave-link{
  text-decoration: none;
}

#home{
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #E6533C;
  color: #FFFFFF;
  border-radius:46px ;
   padding:8px 20px;
  
}

.color{
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFFFFF;


}

/* .nav-bar, .banner{
  max-width: 1440px;
  margin: 0 214px;
} */
/* banner related style */

.banner-title{
  font-size:4rem ;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 28px;
}
span{
  font-family:"miama", sans-serif;
  font-size: 4.9rem;
  font-weight: 400;
  color: #FFFFFF;
}
.banner-description{
  max-width: 500px;
  font-weight: 400px;
  font-size: 1rem;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.50);
  margin-bottom: 28px;
  

}
.button-primary{
  border-radius: 42px;
  background-color: #E6533C;
  border: none;
  padding: 16px 46px;
  color: #FFFFFF;

}
.down{
  border-radius: 42px;
  padding: 16px 48px;
  background-color:black;
  color: #FFFFFF;
}
.banner-content{
  justify-content: center;
  align-items: center;

}
.banner{
  max-width: 520px;
  max-height: 439px;
  margin: 37px 87px 77px 190px;
  
 
}
.banner-pic{
  width: 349;
  height: 580px;
   margin-top:33px;
   margin-left: 87px;  
  margin-right: 130px;
  margin-bottom: 0;

}

/* main related style */
main{
  

  /* margin-right: 190px; */
  /* margin-left: 190px; */
}
.habit-sec{
  max-width: 1440px;
  max-height: 451px;
  align-items: center;
  margin-right: 198px;
 margin-left: 198px; 

}
.habit-item{
  width: 231px;
  height: 273px;
  text-align: center;
  justify-content: center;
  align-items: center;



}
.habits-container{
 
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 58px;
  gap: 20px;
  /* margin-left:10px; */ */
 align-items: center;
  justify-self: center;
  text-align: center;

   margin-right: 190px;  */
} 


.habit{
  max-width: 671;
  height: 119px;
  text-align: center;
}

.habit-title{
  font-size: 3rem;
  font-weight: 900;
   margin-bottom: 5px; 
}
.habit-description{
  max-width: 671px;
  max-height: 48px;
  font-weight: 400px;
  font-size: 1rem;
  color:rgba(255, 255, 255, 0.50);
   margin-top: 2px; 
   text-align: center;
   align-items: center;
   margin-left:140px ;
   margin-right: 160px;



}
.h-description{
  font-weight: 400px;
  font-size: 1rem;
  color:rgba(255, 255, 255, 0.50);
   margin-top: 2px; 
}
.habit-pic{
  max-width: 180;
  max-height: 180px;
  border-radius: 100px;
}
/* run and join */
.Run-an-Extra{
  max-width: 1060px;
  max-height: 371px;
  margin: 101px 170px;
  background: rgba(34, 34, 34, 1.00);
  justify-content: space-between;
  border-radius: 18px;

}
.join{

  max-width: 443px;
  max-height: 289px;
  margin-top: 41.5;
  margin-left: 54px;
  margin-bottom: 40px;
}

.run{
  font-weight: 900px;
  font-size: 3rem;
  ma

}
.run-description{
max-width: 443px;
max-height: 72px;
font-weight: 400px;
font-size: 0.9rem;
color:rgba(255, 255, 255, 0.50);
}
.run-image{
  max-width: 366px;
  max-height: 310px;
 
  border-radius: 18px;
  margin: 30px 32px 29px 165px;

}
/* training and exercise */

/*.TE{
  max-width: 1060px;
  max-height: 581px;
  margin: 0 190px 88px;

}
.TE-title{
  font-weight: 900;
  font-size: 3rem;
  margin-left: 0;

}

.TE-description{
  max-width: 671px;
max-height: 48px;
font-weight: 400px;
font-size: 0.9rem;
color:rgba(255, 255, 255, 0.50);
margin-left: 0;

}
.img-collage{
  max-width: 1060px;
  max-height: 403px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
 
 

}
#img-1{
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(6, 255, 210, 0.50);

}
#img-2{
  max-width: 100%;
  max-height: 100%;
}
#img-3{
  max-width: 100%;
  max-height: 100%;
}
#img-4{
  max-width: 100%;
  max-height: 100%;
}
#img-5{
  max-width: 100%;
  max-height: 100%;
}
#img-6{
  max-width: 100%;
  max-height: 100%;
}*/
/* BMI section */
.div-container{
max-width: 1440px;
max-height: 487px;
justify-content: space-between;
background-color: rgba(34, 34, 34, 1.00);



}

.bmi{
  max-width: 671px;
  max-height: 119px;
  align-items: center;
  margin: 0 384.5px 88px ;

}

.bmi-heading{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0;



}
.bmi-description{
  max-width: 671px;
max-height: 48px;
font-weight: 400px;
font-size: 0.9rem;
color:rgba(255, 255, 255, 0.50);

}
.bmi-table{
  margin: 60px 175px 133px 189px;
}
table{
  border-collapse: collapse;
  max-width: 310px;
  max-height: 216px
}
td,th{
  border: 1px solid rgba(255, 255, 255, 0.10);
  text-align:left;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;
}
td{
  font-size:0.9rem;
  font-weight:400px ;
  color: rgba(255, 255, 255, 0.50);
}
th{
  font-weight: 500px;
  font-size: 1rem;
}

.bmi-calculator{
  max-width: 577px;
  max-height: 386px;
  margin: 49px 189px 52px 0;


}

.cal-description{
  max-width: 577px;
max-height: 48px;
font-weight: 400px;
font-size: 0.9rem;
color:rgba(255, 255, 255, 0.50);

}
.bmi-item{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(3,50px);
  gap: 12px;
}
.box{
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 8px;
  text-align: left;
  padding: 15px 20px 10px 20px;
  font-size:0.9rem;
  font-weight:400px ;
  color: rgba(255, 255, 255, 0.50);

}
#box-5{
  grid-column: span 2;
}
#Calculate{
  margin-top: 34px;
}
/* Meet Our Team */

.meet-our-team{
  max-width: 1060px;
  max-height: 782px;
  margin: 88px 190px;
}
.team{
  max-width: 671px;
  max-height: 119px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 194px;

}
.team-heading{
  font-weight: 900px;
  font-size:3rem ;
  margin-bottom: 0;

}
.team-description{
  max-width: 671px;
  max-height: 48px;
  font-weight: 400px;
  font-size: 0.9rem;
  color:rgba(255, 255, 255, 0.50);
  margin-top: 0;

}

.image-styles{
  max-width: 1060px;
  max-height: 604px;
 
  display:grid;
  grid-template-columns: repeat(3 ,1fr);
  /* grid-template-rows: repeat(2 ,1fr); */
  gap: 20px;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.10);
  /* margin: 20px 0; */ 
   border: 20px solid rgba(255, 255, 255, 0.10); 
  border-radius: 18px;
   
 
}
.trainer-pic{
 max-width: 295px;
 max-height: 270px; 
 object-fit: cover;
 border-radius: 18px;
}
  

.Tri{
  font-size:0.9rem;
  font-weight:400px ;
  color: rgba(255, 255, 255, 0.50);
 
  
}

.meet{

  width: 100%;
  height: 100%;

  position: relative;

}
.text{
  position: absolute;
  left: 30px;
  bottom: 19px;

}
/* .trainer-pic .meet{
  
  width: 100%;
} */
#im-5{
  width:100%;
  height: auto;
 
}
 #im-3{
  width:295px;
  height:260px;

} 
.im-4{
  width: 100%;
  height: 100%; 
  
}
#im-2{
  width: 100%;
}
#im-6{
  width: 100%;
  height: 100%;
}

/* footer */

.footer{
  max-width: 1440px;
  max-height: auto;
  background-color:  rgba(255, 255, 255, 0.10);
  
  
  /* justify-content: center; */
  /* align-items: center; */
 
}

.footer-container{
  max-width: 1059px;
  max-height:249px ;
  margin: 86px 190px 79px;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);


}
.about-fitness{
  max-width: 443px;
  max-height: 176px;
  display: block;
  margin-top: 10px ;
  margin-bottom: 173px;
}
.f-description{
max-width: 671px;
max-height: 48px;
font-weight: 400px;
font-size: 0.9rem;
color:rgba(255, 255, 255, 0.50);

}
.f-title{
font-size: 4rem;
font-weight: 800;
font-style: italic;
color: #E6533C;
margin:0;

}
.rights{
  
  font-size:0.9rem;
  font-weight:400px ;
  color: rgba(255, 255, 255, 0.50);
   text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 565px 35 px;
  
}